covidSoapClientWeb4/xml-resources/web-service-references/covidWebService/wsdl/localhost_8080/covidSoapService4/covidWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="coviddata" type="tns:coviddata"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:coviddata" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coviddata">
<xs:sequence>
<xs:element name="caseForeign" type="xs:int"/>
<xs:element name="caseNewDiff" type="xs:int"/>
<xs:element name="caseNewPrev" type="xs:int"/>
<xs:element name="casePrison" type="xs:int"/>
<xs:element name="caseWalkin" type="xs:int"/>
<xs:element name="deathNewDiff" type="xs:int"/>
<xs:element name="deathNewPrev" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int"/>
<xs:element name="newCaseExcludeabroad" type="xs:int"/>
<xs:element name="newDeath" type="xs:int"/>
<xs:element name="newRecovered" type="xs:int"/>
<xs:element name="totalCase" type="xs:int"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int"/>
<xs:element name="totalDeath" type="xs:int"/>
<xs:element name="totalRecovered" type="xs:int"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int"/>
<xs:element name="years" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>